<?xml version="1.0"?>

<robot name="G2">

  <link name="wheel_odom">
    <visual>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <link name="base_link">
    <visual>
      <geometry>
        <box size=".5 .5 .248"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.05 0 0.233"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0" />
    <child link="wheel_odom" />
    <parent link="base_link" />
  </joint>

    <link name="mx_camera_link">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_base_mx_camera" type="fixed">
      <parent link="base_link"/>
      <child link="mx_camera_link"/>
      <origin rpy="0 0 0" xyz="0.245 0.05 0.240"/>
  </joint>

  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.085"/>
      </geometry>
      <origin rpy="1.5708 0 0" xyz="0 0 0"/>
      <material name = "black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_base_l_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin rpy="0 0 0" xyz="0 0.165 0.085"/>
    <axis xyz="1 0 0"/>
  </joint>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.085"/>
      </geometry>
      <origin rpy="1.5708 0 0" xyz="0 0 0"/>
      <material name = "black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_base_r_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin rpy="0 0 0" xyz="0 -0.165 0.085"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="laser_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name = "red">
        <color rgba="1 0 0 1"/>
      </material>
   </visual>
  </link>

  <joint name="joint_base_laser" type="fixed">
    <parent link="base_link"/>
    <child link="laser_link"/>
    <origin rpy="0 0 0" xyz="0.105 0.0 0.225"/>
  </joint>

<!--  <link name="imu_link">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name = "green">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_base_imu" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin rpy="0 0 0" xyz="0.067  -0.154 0.2478"/>
  </joint> -->

  <link name="stm32_imu">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name = "green">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_base_stm32_imu" type="fixed">
    <parent link="base_link"/>
    <child link="stm32_imu"/>
    <origin rpy="0 0 0" xyz="0.067  -0.154 0.2478"/>
  </joint>

  <link name="camera_link">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_base_camera" type="fixed">
      <parent link="base_link"/>
      <child link="camera_link"/>
      <origin rpy="0 0.436 0" xyz="0.155 0.0 0.87"/>
  </joint>

  <link name="label_camera_link">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_base_label_camera" type="fixed">
      <parent link="base_link"/>
      <child link="label_camera_link"/>
      <origin rpy="3.14159 0.0 0 " xyz="0.1 0.0 0.90"/>
  </joint>


  <link name="beam_link">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_base_beam" type="fixed">
      <parent link="base_link"/>
      <child link="beam_link"/>
      <origin rpy="0 0.0 0" xyz="0.0 0.0 0.2"/>
  </joint>

  <link name="bump_link">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_base_bump" type="fixed">
      <parent link="base_link"/>
      <child link="bump_link"/>
      <origin rpy="0 0.0 0" xyz="0.0 0.0 0.2"/>
  </joint>

  <link name="sonar1">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_beam_sonar1" type="fixed">
      <parent link="beam_link"/>
      <child link="sonar1"/>
      <origin rpy="0 0.0 0" xyz="0.25 0.0 0.0"/>
  </joint>

  <link name="psd1">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_beam_psd1" type="fixed">
      <parent link="beam_link"/>
      <child link="psd1"/>
      <origin rpy="0 0.0 -0.658" xyz="0.1978 -0.153 0.0"/>
  </joint>

  <link name="psd2">
      <visual>
          <geometry>
              <cylinder length="0.02" radius="0.03"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <material name = "green">
              <color rgba="1 0 0 1"/>
          </material>
      </visual>
  </link>

  <joint name="joint_beam_psd2" type="fixed">
      <parent link="beam_link"/>
      <child link="psd2"/>
      <origin rpy="0 0.0 0.658" xyz="0.1978 0.153 0.0"/>
  </joint>

</robot>
