<?xml version="1.0"?>

<launch>

    <arg name="OUTPUT_METHOD" default="screen"/>
    <arg name="RESPAWN" default="false"/>
    <arg name="ROBOT_TYPE" default="peanut"/>

    <node pkg="move_base" type="move_base" name="move_base" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)">
        <param name="base_global_planner" value="kplanner/KPlannerROS"/>
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
        <param name="TebLocalPlannerROS/allow_init_with_backwards_motion" value="true"/>
        <param name="TebLocalPlannerROS/max_vel_x_backwards" value="0.8"/>
        <param name="TebLocalPlannerROS/allow_goal_orientation_reverse" value="true"/>
        <param name="TebLocalPlannerROS/weight_kinematics_forward_drive" value="0.0"/>
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/move_base_params.yaml" command="load"/>
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/costmap_common_params.yaml" command="load" ns="function_costmap" />
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/teb_local_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/function_costmap_params.yaml" command="load" />
    </node>

</launch>
