<?xml version="1.0"?>
<launch>
 
  
<arg name="OUTPUT_METHOD" default="screen"/>
<arg name="RESPAWN" default="false"/>
<arg name="ROBOT_TYPE" default="peanut"/>
<node name="mx_receive_depth" pkg="show_points" type="receive_depth_node" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)" />
    <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/mx_2.yaml" command="load" />
<node name="mx_send_depth" pkg="show_points" type="send_depth_node" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)" />
<node name="get_version" pkg="show_points" type="get_mx_version.sh" output="$(arg OUTPUT_METHOD)"  launch-prefix="bash -c 'sleep 30; $0 $@' " />
 
</launch>
<!--机型保留机制会导致之前打开3开关的机器无法启动，考虑到兼容性，此launch文件和mx_2.launch保持一致-->