<?xml version="1.0"?>
<launch>

    <arg name="OUTPUT_METHOD" default="screen"/>
    <arg name="RESPAWN" default="false"/>
    <arg name="ROBOT_TYPE" default="M2"/>

  <node name="simple_scan_detector" pkg="costmap_converter" type="simple_scan_detector" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)">
    <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/dynamic_detector_params.yaml" command="load"/>
  </node>

</launch>
