<?xml version="1.0"?>

<launch>

    <arg name="OUTPUT_METHOD" default="screen"/>
    <arg name="RESPAWN" default="false"/>
    <arg name="ROBOT_TYPE" default="peanut"/>

    <node pkg="elevator" type="elevator_server" name="elevator_server" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)">
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/elevator_params.yaml" command="load"/>
    </node>
</launch>
