<?xml version="1.0"?>

<launch>

    <arg name="OUTPUT_METHOD" default="screen"/>
    <arg name="RESPAWN" default="false"/>
    <arg name="ROBOT_TYPE" default="T2"/>

    <node name="multi_lidar_filter" pkg="lidar_filter" type="multi_lidar_filter" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)">
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/lidar_filter_params.yaml" command="load"/>
        <remap from="scan_orig_1" to="scan_front_orig"/>
        <remap from="scan_orig_2" to="scan_back_orig"/>
        <remap from="scan_filtered" to="scan"/>
    </node>

    <node name="multi_lidar_filter_for_planner" pkg="lidar_filter" type="multi_lidar_filter" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)">
        <rosparam file="$(find robot_settings)/cfg/yaml/$(arg ROBOT_TYPE)/lidar_filter_for_planner_params.yaml" command="load"/>
        <remap from="scan_orig_1" to="scan_front_orig"/>
        <remap from="scan_orig_2" to="scan_back_orig"/>
        <remap from="scan_filtered" to="planner_scan"/>
    </node>

</launch>
