<?xml version="1.0"?>
<launch>

    <arg name="OUTPUT_METHOD" default="screen"/>
    <arg name="RESPAWN" default="false"/>
    <arg name="ROBOT_TYPE" default="peanut"/>

    <node pkg="web_backend" type="web_backend_node" name="web_backend_node" respawn="$(arg RESPAWN)" output="$(arg OUTPUT_METHOD)" args="_image_transport:=compressed">
        <param name="web_map_save_path" value="/etc/ros/runtime/web_receive/map.pgm"/>
        <param name="web_virtual_wall_map_save_path" value="/etc/ros/runtime/web_receive/virtual_wall.pgm"/>
        <param name="maps_layer_path" value="/etc/ros/runtime/web/maps/layer.json"/>
    </node>

</launch>
